* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", serif;
  width: 100vw;
  height: 100vh;
  background-color: #f1f1f1;
}

header {
  display: flex;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}


a {
  text-decoration: none;
  color: #000;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.logo {
  height: 24px;
  width: auto;
}

.nav-link {
  color: #000;
  text-decoration: none;
  margin: 0 20px;
  font-size: 12px;
  font-weight: 600;
  padding: 2px 0px;
  letter-spacing: -0.1px;
  text-transform: uppercase;
  transition: color 0.3s ease;
  z-index: 1000;
}

.nav-link:hover {
  /* color: #8c8c8c; */
  cursor: none;
}
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  color: #fdfdfd;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "VCR", sans-serif;
  font-size: 14px;
  justify-content: center;
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  overflow: hidden;
  z-index: 40;
  pointer-events: none;
  transition: clip-path 0.3s ease-in-out;
  text-transform: uppercase;
}

.menu-overlay.menu-open {
  pointer-events: auto;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.close-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  top:0;
  left: 0;
}

.menu-close {
  font-size: 12px;
  /* padding: 2px 5px; */
  font-family: "Inter", sans-serif;
  letter-spacing: -0.1px;
  color: #ff0000;
  transition: color 0.3s ease;
}

.menu-close:hover {
  color: #7b7b7b;
}

.menu-content {
  display: flex;
  width: 100%;
  height: 100%;
}

.menu-left {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.menu-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(0.8);
  filter: blur(.25px);
}

.menu-right {
  width: 30%;
  display: flex;
  flex-direction: column;
  /* Stack menu-links-new and menu-links-new-2 vertically */
  align-items: center;
  /* Align content to the left */
  justify-content: center;
  /* Align content to the top */
  background: transparent;
  gap: 100px;
  z-index: 40;

  /* Reduced gap between menu-links-new and menu-links-new-2 for balance */
}

.menu-links-new {
  display: flex;
  flex-direction: column;
  /* Stack links vertically */
  margin-left: 0;
  /* Add 5% margin from the left */
  width: 100%;
  /* Take full width */
  gap: 5%;
  z-index: 2500;

}

.menu-links-new-2 {
  display: flex;
  flex-direction: row;
  /* Align columns horizontally */
  gap: 100px;
  /* Space between the two columns */
  margin-left: 0;
  /* Add 5% margin from the left */
  width: 100%;
  z-index: 2500;

  /* Take full width */
}

.menu-links-new-2 .column {
  display: flex;
  flex-direction: column;
  z-index: 2500;
  /* Stack links vertically within the column */
}

.menu-links-new a {
  font-size: 30px;
  line-height: 30px;
  color: #fdfdfd;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  transition: color 0.3s;
  cursor: none;
  overflow: hidden;
  z-index: 2500;
}

.menu-links-new-2 a {
  font-size: 12px;
  line-height: 18px;
  color: #fdfdfd;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  transition: color 0.3s;
  cursor: none;
}

.menu-links-new-2 a:hover {
  color: #ff0000;
}


section {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
